<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <style>
        #about{
            color: rgb(173, 22, 22);
        }
    </style>
    <title>About</title>
</head>

<body>
    <div class="navbar">
        <div class="list">
            <li><a href="/">Home</a></li>
            <li id="about"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/services">Services</a></li>
        </div>
    </div>

    <p class="about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, nemo enim laudantium sint
        adipisci, minus quia earum vero quis ea esse, animi quibusdam doloremque illum odio officia repellendus ipsam
        quaerat nostrum? Doloremque, dicta! Quis illo consequatur vel accusantium soluta dolorum iusto, repellendus
        aliquid autem, earum suscipit sit culpa laborum! Unde repellat deleniti dolor fuga modi sequi? Corrupti dolores
        nemo dolore recusandae tenetur delectus illo assumenda autem enim, vel ex soluta vero deserunt voluptatem aut
        fuga dolor nobis hic. Alias cupiditate, voluptates accusamus sed voluptatibus eaque. Asperiores perspiciatis
        odio omnis hic voluptate voluptatem aliquam soluta esse, nemo quasi eius dolorem voluptates cumque! Deleniti
        quidem totam dolor magni doloremque optio cupiditate. Officia nulla natus molestias, provident minus quasi
        autem? Fugiat quisquam ratione placeat harum pariatur vel eaque nesciunt! Non inventore velit cumque quidem
        incidunt praesentium esse ipsa nihil repudiandae dolorem in, ex dolores sint voluptatum animi, aliquam a magni
        quam, perferendis vero molestias est officia modi? Placeat, odit voluptates, doloremque porro quae, deserunt
        adipisci amet repudiandae animi iusto quo quos expedita et magnam voluptas vitae recusandae minima explicabo
        totam. Optio explicabo quibusdam molestiae nesciunt laudantium laboriosam voluptatem dolorum repellat temporibus
        eum dolores magnam, aut beatae tempore adipisci ea? Ut sapiente officia quod tempora, possimus ducimus
        repudiandae consequatur. Nam provident aliquam magnam. Unde deserunt ullam ab, sit id hic laudantium mollitia
        tenetur! Iste, unde dicta similique voluptatibus quasi corporis, beatae dignissimos quia placeat cum amet,
        adipisci ratione accusantium laborum incidunt repellendus dolorem laboriosam rerum culpa aperiam doloribus
        doloremque reiciendis. Tenetur iusto facere placeat dolorum quod sint atque suscipit nobis, molestiae harum
        totam voluptates voluptatem impedit quo dignissimos quos? Impedit recusandae hic id fugiat facere fugit iste in
        cupiditate culpa, ea veritatis perspiciatis ratione est aliquam minima? Eligendi quas cum blanditiis veniam
        alias iste quidem aliquid est suscipit odit rem voluptatem id consequuntur tempora laudantium ipsam harum
        provident, ea vero, et, molestiae deleniti inventore magnam unde? Dolorem, ducimus in atque hic sequi quae,
        quis, laborum perferendis ex excepturi ea quisquam aut explicabo. Facere ut vitae deleniti odio temporibus
        tenetur explicabo repudiandae a cupiditate exercitationem reiciendis ullam, omnis amet voluptates deserunt at
        minus atque! Nemo odio sint laudantium veritatis, totam non reprehenderit voluptatum ad consectetur esse! Illo
        officia ab exercitationem veniam inventore quidem, aperiam earum consequuntur atque nam sunt eius beatae qui
        deserunt cumque consectetur! Expedita odit impedit similique, alias est provident hic error quas cumque non
        assumenda tenetur quidem nostrum obcaecati natus ratione adipisci asperiores nisi. Quisquam fuga, nemo dicta
        recusandae, soluta repudiandae in optio iure impedit doloremque voluptatibus deleniti. Eaque voluptate odit
        vitae vero quasi, labore suscipit nemo. Nisi, quia. Est aspernatur, quasi officiis inventore doloremque
        provident laboriosam eveniet, culpa, unde quibusdam repudiandae fugiat iusto porro? Ipsa recusandae ex quas
        nostrum veritatis perferendis excepturi molestias aut? Atque totam voluptate eligendi sed quod, ab officia
        perspiciatis facilis sapiente tempore. Praesentium ea accusantium commodi. Debitis quia mollitia repudiandae
        sequi quam amet eum reprehenderit earum aut, quos obcaecati consequatur odio sed voluptas ratione tenetur porro
        ipsam quaerat libero dolor doloremque, aliquam, minus deserunt modi? Magni quidem, aliquid rerum quasi corporis
        excepturi ipsa minima consectetur vel maiores ducimus voluptate minus veniam ab odit distinctio cum non.
        Exercitationem, impedit quam aspernatur non expedita ipsam numquam vel eum vero corporis provident dolores est
        vitae voluptatum alias! Recusandae libero est animi architecto, reprehenderit eius? Facilis delectus officiis
        neque rerum! Nam, accusantium delectus! Architecto, enim officia ipsam eligendi totam numquam minima! Sequi
        cumque debitis cum deserunt ratione assumenda. Rem velit adipisci minus? Sequi labore voluptate, eligendi
        delectus ullam obcaecati perspiciatis itaque ex eaque accusantium quam, veniam hic voluptatum adipisci,
        repudiandae cumque cupiditate! Nam, cum corrupti officiis magni recusandae ducimus sit ab!</p>

    <div class="clients">
        <h1>Our Clients</h1>
        <div class="detailsOfClients">
            <div class="microsoft details">
                <img src="../../image/Logo1.jpg" alt="">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minima omnis illo, commodi sapiente
                obcaecati aliquam quia libero perferendis ea provident ex itaque sint, atque deserunt maxime consectetur
                excepturi in?
            </div>
            <div class="skype details">
                <img src="../../image/Logo2.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam aliquid modi dolore quisquam
                saepe quos id doloribus dolorem sint sapiente neque atque dolorum, soluta recusandae corrupti. Maiores,
                amet odio!
            </div>
            <div class="apple details">
                <img src="../../image/Logo3.png" alt="">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi facere, deleniti beatae dignissimos
                iste accusamus est perspiciatis sunt harum suscipit excepturi odit ullam quod distinctio illo inventore
                officia? Porro, officiis?
            </div>
        </div>
    </div>
</body>

</html>