<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <style>
        #home{
            color: rgb(173, 22, 22);
        }
    </style>
    <title>Home</title>
</head>

<body>
    <div class="navbar">
        <div class="list">
            <li id="home"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/services">Services</a></li>
        </div>
    </div>

    <div class="welcome">
        <h1>welcome</h1>
        <span>Chatori</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum deleniti sequi nam enim, maxime, eveniet sed
            voluptas porro illo iure delectus corporis. Itaque, id!</p>
    </div>
</body>

</html>