<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <style>
        #services{
            color: rgb(173, 22, 22);
        }
    </style>
    <title>Services</title>
</head>

<body>
    <div class="navbar">
        <div class="list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="services"><a href="/services">Services</a></li>
        </div>
    </div>

    <div class="services">
        <h1>SERVICES</h1>
        <div class="servicebox">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa molestiae sapiente aliquam neque
                quam architecto ad temporibus nemo vel fugiat, libero deserunt ex cupiditate, vitae perferendis, ipsam
                enim atque.</p>
        </div>
        <div class="servicebox">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa molestiae sapiente aliquam neque
                quam architecto ad temporibus nemo vel fugiat, libero deserunt ex cupiditate, vitae perferendis, ipsam
                enim atque.</p>
        </div>
        <div class="servicebox">
            <h3>Lorem</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa molestiae sapiente aliquam neque
                quam architecto ad temporibus nemo vel fugiat, libero deserunt ex cupiditate, vitae perferendis, ipsam
                enim atque.</p>
        </div>
        <div class="servicebox">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa molestiae sapiente aliquam neque
                quam architecto ad temporibus nemo vel fugiat, libero deserunt ex cupiditate, vitae perferendis, ipsam
                enim atque.</p>
        </div>
    </div>
</body>

</html>